---
const posts = await Astro.glob('../pages/posts/*.md');
---
<ul class="post-list">
    {posts.map((post) => (
        <li>
            <a href={post.url}>
                <h3>{post.frontmatter.title}</h3>
            </a>
        </li>
    ))}
</ul>

<style>
    .post-list {
        list-style-type: none;
        padding: 0;
    }
    
    .post-list li {
        margin-bottom: 1rem;
    }
    
    .post-list a {
        text-decoration: none;
        color: inherit;
    }
</style>