
img {
    max-width: calc(100vw + 30px);
    max-height: 86vh;
    height: auto;
    width: auto;
    padding: 0 3.5vw 6.8vw 0;
}

body{
    margin: 8.09vw 0 10px 0;
    font-size: 1.25vw !important;
    text-align: center;

}
table td {
    width: 30vw;
    vertical-align: top;
    text-align: left;
}

.one {
padding-top: 0 !important;
margin-top: -1.3vw !important;
}

.post-description {
    padding: 5vw 0vw 5vw 34.5vw;
    margin: 0 0 38px 0;
	max-width: 65vw;
	---margin: 0;
	text-align: left;
	z-index: 50;
}

.post-title {
    text-align: left !important;
    position: sticky;
    top: 10px;
    left: 3.5vw;
    z-index: 100;
    width: 30vw;
    padding: 0;
    margin: 0;
}

h2 {
	font-size: 1.25vw !important;
	font-weight: 400;
	margin: 0;
	margin: 0 0 38px 0;
	text-align: left !important;
	text-decoration: none;
	font-weight: 400;
	color: #000000;
	z-index: 50;
	}

.credits {
    display: flex; 
    justify-content: space-between; 
    align-items: baseline;
    align-items:start;
    text-align: left;
    padding: 0 3.5vw 3.5vw 3.5vw;
    }