---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About";
---

<BaseLayout>
    <div class="content">
        <div class="page about-me">
            <h2>
                I am a registered architect and designer based in San Francisco. I aspire to help make the built environment
					more livable, sustainable, and equitable through housing accessibility, better materials, and better
					labor practices. <br /><br />
					I am pursuing these goals as a designer at
					David Baker Architects, a publisher and editor of The Last Straw magazine, a board member of the
					California Straw Building Association, and occassionally through
					other projects. <br /><br />
					I have collaboratively designed and built three homes at the
					Auburn University Rural Studio, fabricated custom architectural features with the
					DBA_Workshop, and explored a wide range of
					personal projects.
            </h2>
        </div>
        <div class="page-two">
            <h2>
                I believe that regenerative building (in which I include: maintenance, repair, building less,
                adaptive reuse, bioregional construction methods, a circular construction economy, biobased material
                use, equitable supply chains, community land ownership, and environmental stewardship) is critical
                for architects to successfully respond to both the housing and climate crises.
                <br /><br />
                I am interested in the pursuit of regenerative building, in whole and in part, through practice or
                policy, and particularly interested in it's intersections with affordable and social housing work. I am excited about the potential for creative reuse of existing space under communal land ownership.
                <br /><br />
            </h2>
        </div>
                    <div class="page-three">
            <h2>
                External Links <br />
                &#x2197; California Straw Building Association <br />
                &#x2197; The Last Straw<br />
                <a href="works.html">&#x2197; Lookbook</a>
                <br /><br />
                Buildings<br />
                &#x2197; La Avenida Apartments
                <a href="https://www.dbarchitect.com/projects/la-avenida-apartments" target="_blank">DBA</a><br />
                &#x2197; The Villages at 995 East Santa Clara
                <a href="https://www.dbarchitect.com/projects/villages-995-east-santa-clara" target="_blank">DBA</a
                ><br />
                &#x2197; Horseshoe Farm Homes
                <a href="http://ruralstudio.org/project/horseshoe-farm-homes/" target="_blank">AURS</a>
                <br /><br />
                &#x2197; I was interviewed along with the rest of The Last Straw Editorial Collective on the
                <a
                    href="https://www.buildingsustainabilitypodcast.com/the-last-straw-journal-alex-henderson-gavin-fraser-kenny-fallon-zoe-gardner-bs076/"
                    target="_blank"
                    >Building Sustainability Podcast</a
                >

                
            </h2>
            <h2>
                <br />
                If that's something
                you're interested in too let's talk about it! I am always happy to be reached by
                <a href="mailto:gavinlesterfraser@gmail.com">Email</a>,
                <a href="https://www.linkedin.com/in/gavin-fraser-1a5949259/" target="_blank">LinkedIn</a>, or
                <a href="https://www.instagram.com/father_of_chad_lawrence_butler/" target="_blank">Instagram</a> :)
                <a href="/" class="less"> &#x2190; less</a>
                <br />
            </h2>
        </div>
    </div>
</BaseLayout>