---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Contact";
---

<BaseLayout>
<div class="content">
    <div class="page-three about-me">
        <h2>
            Please feel free to get in touch about anything at all.<br /><br />
            Email<br /><a href="mailto:gavinlesterfraser@gmail.com">gavin lester fraser @ gmail dot com</a><br /><br />
            Instagram<br /><a href="https://www.instagram.com/father_of_chad_lawrence_butler/"
                >father of chad lawrence butler</a
            ><br /><br />
            LinkedIn<br /><a href="https://www.linkedin.com/in/gavin-fraser-1a5949259/"
                >gavin-fraser-1a5949259</a
            >
            
        </h2>
    </div>
</div>
</BaseLayout>