---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Gavin Fraser";
---
<style>
	#nav-right {
		text-decoration: underline !important;
	}
</style>
<BaseLayout>
		<div class="content hidden-content" id="leftContent">
			<div class="page about-me">
				<h2>
					Gavin Fraser<br /><br />I am a registered architect and designer based in San Francisco. I aspire to help make the built environment
					more livable, sustainable, and equitable through housing accessibility, better materials, and better
					labor practices. <br /><br />
					I am pursuing these goals as a designer at
					David Baker Architects, a publisher and editor of The Last Straw magazine, a board member of the
					California Straw Building Association, and occassionally through
					other projects. <br /><br />
					I have collaboratively designed and built three homes at the
					Auburn University Rural Studio, fabricated custom architectural features with the
					DBA_Workshop, and explored a wide range of
					personal projects.
					<a href="/about/" class="more" style="float: right">more &#8594;</a>
				</h2>
			</div>
		</div>
</BaseLayout>
