---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Work";
---

<BaseLayout>



    
    <div id="filterLinks">
        <h2>
            <u>Everything,</u><br /><br />
            Architecture, Auburn University Rural Studio, California Straw Building Association, 
            David Baker Architects, DBA_Workshop, Editorial, Fabrication, Other Projects, Personal Projects, 
            Student Projects, The Last Straw, Writing.
        </h2>
    </div>
    </div>
    <div id="itemList">
        <div class="item" data-tags="tag1">
            <a href="/posts/25-03_housing_guide">
                <h5>
                    Housing Guide for the Rural American West<br />
                    2025
                </h5>
            </a>
        </div>

        <div class="item" data-tags="tag1">
            <a href="/posts/24-11_tls_76">
                <h5>
                    The Last Straw 76<br />
                    2024
                </h5>
            </a>
        </div>
        <div class="item" data-tags="tag3">
            <a href="/posts/24-08_breakfast_table">
                <img src="/src/assets/24-08-personal-project-table/2024-09-15%20final%201.jpeg" alt="A Breakfast Table" />
                <h5>
                    A Breakfast Table<br />
                    2023
                </h5>
            </a>
        </div>
        <div class="item" data-tags="tag2">
            <a href="/posts/24-02_tls_75">
                <img src="/src/assets/24-02_tls_75/75_print.png" alt="The Last Straw 75" />
                <h5>
                    The Last Straw 75<br />
                    2024
                </h5>
            </a>
        </div>
        <div class="item" data-tags="tag1">
            <a href="/posts/23-09_office-storefront">
                <h5>
                    DBA Office Storefront<br />
                    2023
                </h5>
            </a>
        </div>

        <div class="item" data-tags="tag1">
            <a href="/posts/23-06_workshop_sango">
                <h5>
                    Lobby features at Sango Court<br />
                    2023
                </h5>
            </a>
        </div>

        <div class="item" data-tags="tag1">
            <a href="/posts/23-05_tls_74">
                <h5>
                    The Last Straw 74<br />
                    2023
                </h5>
            </a>
        </div>

        <div class="item" data-tags="tag1">
            <a href="/posts/23-03_workshop_ues">
                <h5>
                    Unit Entry Signs<br />
                    2023
                </h5>
            </a>
        </div>

        <div class="item" data-tags="tag1">
            <a href="/posts/22-11_tls_73">
                <h5>
                    The Last Straw 73<br />
                    2022
                </h5>
            </a>
        </div>

        <div class="item" data-tags="tag1">
            <a href="/posts/22-05_tls_72">
                <h5>
                    The Last Straw 72<br />
                    2022
                </h5>
            </a>
        </div>

        <div class="item" data-tags="tag1">
            <a href="/posts/22-02_tls_71">
                <h5>
                    The Last Straw 71<br />
                    2022
                </h5>
            </a>
        </div>

        <div class="item" data-tags="tag1">
            <a href="/posts/20-10_3_month">
                <h5>
                    Three Month Zine<br />
                    2020
                </h5>
            </a>
        </div>

        <div class="item" data-tags="tag1">
            <a href="/posts/20-02_rural_studio">
                <h5>
                    A Breakfast Table<br />
                    2020
                </h5>
            </a>
        </div>

        <div class="item" data-tags="tag1">
            <a href="/posts/18-04_student_work">
                <h5>
                    Student Work at Auburn University<br />
                    2018
                </h5>
            </a>
        </div>

        <div class="item" data-tags="tag1">
            <a href="/posts/15-03_standard_chair">
                <h5>
                    Jean Prouve's Standard Chair No. 4<br />
                    2015
                </h5>
            </a>
        </div>



        <div class="item" data-tags="tag1">
            <div class="wip">
                <img src="fotos/000 ongoing-woodland-park/2024-07-12 Podium Courtyard View 2.jpg" alt="armand" />
                <h5>
                    East Palo Alto Housing<br />
                    Work in progress
                </h5>
            </div>
        </div>
        <div class="item wip" data-tags="tag1">
                <img src="fotos/2024-11 dba-armand/21822 Sustainability Diagram Base.png" alt="armand" />
                <h5>
                    1188 Armand<br />
                    Work in progress
                </h5>
        </div>
        <div class="item wip" data-tags="tag1">
            <img src="fotos/000 ongoing dba-claremont-south-village/2024-07-02 Terminus View.jpg" alt="armand" />
            <h5>
                South Village Housing<br />
                Work in progress
            </h5>
        </div>
        <div class="item" data-tags="tag1">
            <div class="wip">
                <img src="fotos/000 ongoing bay friendly garden/IMG_1825.jpeg" alt="armand" />
                <h5>
                    Bay Friendly Garden Shed<br />
                    Work in progress
                </h5>
            </div>
        </div>
        <div class="item" data-tags="tag1">
            <a
                class="wip"
                href="https://www.dbarchitect.com/projects/villages-995-east-santa-clara"
                target="_blank">
                <img src="fotos/000 ongoing dba-995-esc/13.jpg" alt="armand" />
                <h3>
                    The Villages at 995 East Santa Clara<br />
                    W.I.P.
                </h3>
            </a>
        </div>
        <div class="item" data-tags="tag4">
            <a href="fotos/000 downloads/rainy_ocean_fishing.gif" download target="_blank">
                <img src="fotos/000 downloads/rainy_ocean_fishing.gif" alt="rainy_ocean_gif" />
                <h5>rainy_ocean_fishing.gif</h5>
            </a>
        </div>
        <div class="item" data-tags="tag2 tag5">
            <a href="2022_tls-72.html" thelaststraw.html>
                <img src="fotos/2022 tls-72/72.png" alt="tls-72" />
                <h5>
                    DBA_Workshop Barn Doors
                </h5>
            </a>
        </div>
        <div class="item" data-tags="tag4">
            <a href="fotos/000 downloads/Lawrence_and_Hobie.png" download target="_blank">
                <img src="fotos/000 downloads/Lawrence_and_Hobie.png" alt="my cats" />
                <h5>Lawrence_and_Hobie.png</h5>
            </a>
        </div>
        <div class="item" data-tags="tag4">
            <a href="fotos/000 downloads/merry_christmas_anna.mp4" download target="_blank">
                <img
                    src="fotos/000 downloads/Screen Shot 2023-04-16 at 12.20.26 PM.png"
                    alt="merry_christmas_anna" />
                <h5>covid-christmas-card.mp4</h5>
            </a>
        </div>
        <div class="item" data-tags="tag4">
            <a href="fotos/000 downloads/dune_and_roberta.m4a" download target="_blank">
                <img
                    src="fotos/000 downloads/Screen Shot 2023-04-16 at 1.34.23 PM.png"
                    alt="Exxon_refinery_oil_drums" />
                <h5>
                    dune_and_roberta.m4a
                </h5>
            </a>
        </div>
        <div class="item" data-tags="tag4">
            <a href="fotos/000 downloads/enough.mp3" download target="_blank">
                <img
                    src="fotos/000 downloads/Screen Shot 2023-04-16 at 1.34.23 PM.png"
                    alt="Exxon_refinery_oil_drums" />
                <h5>enough.mp3</h5>
            </a>
        </div>
        <div class="item" data-tags="tag2">
            <a href="fotos/000 downloads/HOMES_print_book_2023.pdf" download target="_blank">
                <img src="fotos/000 downloads/project_book.png" alt="project book" />
                <h5>rural_studio_book.pdf</h5>
            </a>
        </div>
        <div class="item" data-tags="tag4">
            <a href="fotos/000 downloads/fast_timelapse.mp4" download target="_blank">
                <img
                    src="fotos/000 downloads/Screen Shot 2023-04-16 at 12.55.05 PM.png"
                    alt="rural_studio_timelapse" />
                <h5>rural_studio_timelapse.mp4</h5>
            </a>
        </div>
        <div class="item" data-tags="tag1">
            <a href="2017_wang_architects.html">
                <img src="fotos/2017 wang-architects/OFFICE_AXON.png" alt="" />
                <h5>Wang Architects work</h5>
            </a>
        </div>
        <div class="item" data-tags="tag1">
            <a href="2017_auburn-wood-skyscraper.html">
                <img src="fotos/2017 auburn-wood-skyscraper/2019_Portfolio22 copy.jpg" alt="" />
                <h3>Wood Skyscraper<br />2017<br />Student Architecture</h3>
            </a>
        </div>
        <div class="item" data-tags="tag1">
            <a href="2016_auburn_water-tower-project.html">
                <img src="fotos/2016 auburn-water-tower project/2019_Portfolio20.jpg" alt="" />
                <h5>Water tower student project</h5>
            </a>
        </div>
        <div class="item" data-tags="tag1">
            <a href="2014_auburn_wood-pavillion.html">
                <img src="fotos/2014 auburn-wood-pavillion/ezgif.com-crop.gif" alt="" />
                <h3>Wood Pavillion<br />2015-2017<br />Student project</h3>
            </a>
        </div>
    </div>

    <script>
     import "../scripts/work-files.js";
    </script>
</BaseLayout>


<style>

    .navbar .work{
            text-decoration: underline;
    }

    * {
      box-sizing: border-box;
    }

    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    .column {
      float: left;
      ---width: 33.33%;
      text-align: center;
      ---padding-bottom: 100px;
    }

    ---row:after {
      content: "";
      display: table;
      clear: both;
        ---}

    .topper {
        ---padding-top: 90px;
        ---padding-bottom: 30px;
        }

        @media screen and (max-width: 600px) {
              .column {
                    width: 100%;
              }
        }
        @media (min-width : 1400px ){
            .page-bottom {
                position: absolute !important;
                bottom: 3.4vw !important;
                margin-bottom: 4vw !important;
            }
            .top-nav {
                position: fixed !important;
            }
</style>