
<div class="navbar">
    <h1>
        <div id="nav-left">
            <a href="/" class={Astro.url.pathname === '/' ? 'active' : ''}></a>
        </div>
        <div id="nav-leftish">
            <a href="/" class={Astro.url.pathname === '/' ? 'active' : ''}>About</a>
            
        </div>
        <div id="nav-rightish">
            <a href="/work"  class={Astro.url.pathname === '/work' ? 'active' : ''}>Work</a>
        </div>
        <div id="nav-right">
            <a href="/contact" class={Astro.url.pathname === '/contact' ? 'active' : ''}>Contact</a>
        </div>
    </h1>
</div>


<style>
    .navbar a.active {
    text-decoration: underline;
    }
#nav-left {
    position: fixed;
    left: 3.5vw;
    }
#nav-leftish {
    position: fixed;
	left: 34.5vw;
    }
#nav-rightish {
    position: fixed;
	left: 65.5vw;
    } 
#nav-right {
    position: fixed;
    right: 3.5vw;
    }

.navbar {
    position: fixed;
	top: 10px;
    z-index: 400;
	
    }
.navbar a {
	color: #000;
    }
.navbar a:hover {
	color: #000;
    text-decoration: underline;
    }
</style>