
<div class="navbar">
    <h1>
        <div id="nav-left">
            <a href="/work">Some work by,</a>
        </div>
        <div id="nav-leftish">
            <a href="/about">information about,</a>
        </div>
        <div id="nav-rightish">
            <a href="/contact">and contact links for,</a>
        </div>
        <div id="nav-right">
            <a href="/">Gavin Fraser</a>
        </div>
    </h1>
</div>


<style>
#nav-left {
    position: fixed;
    left: 3.5vw;
    }
#nav-leftish {
    position: fixed;
	left: 34.5vw;
    }
#nav-rightish {
    position: fixed;
	left: 65.5vw;
    } 
#nav-right {
    position: fixed;
    right: 3.5vw;
    }

.navbar {
    position: fixed;
	top: 10px;
    z-index: 400;
	
    }
.navbar a {
	color: #000;
    }
.navbar a:hover {
	color: #000;
    text-decoration: underline;
    }
</style>