<div class="navigation">
    <div class="navbar">
        <table>
            <tr>
                <td id="work-align">
                    <a href="/work/" class="work"><h1>Work,</h1> </a>
                </td>

                <td id="contact-align">
                        <a href="/contact/" class="contact"><h1>Contact</h1> </a>
                </td>
            </tr>
        </table>
    </div>
    <div class="home">
        <a href="/"><h1>Gavin Fraser</h1></a>
    </div>
    <div id="about-align">
        <a href="/about/"><h1>About,</h1></a>
    </div>
</div>