<div class="page-two about-me">
    <table>
        <tr>
            <td class="resume-left"><h2>1. David Baker Architects</h2></td>
            <td class="resume-right">
                <h2>
                    East Palo Alto Housing<br />La Avenida Apartments<br />South Village Housing<br />Bay
                    Friendly Garden Shed
                </h2>
            </td>
        </tr>
        <tr>
            <td class="resume-left"><h2>2. The Last Straw</h2></td>
            <td class="resume-right">
                <h2>
                    The Last Straw 75<br />The Last Straw 74<br />The Last Straw 73<br />The Last Straw
                    72<br />The Last Straw 71<br />
                </h2>
            </td>
        </tr>
        <tr>
            <td class="resume-left"><h2>3. California Straw Building Association</h2></td>
            <td class="resume-right"><h2>...</h2></td>
        </tr>
        <tr>
            <td class="resume-left"><h2>4. Other Projects</h2></td>
            <td class="resume-right"><h2>Housing Guide for the Rural American West</h2></td>
        </tr>
        <tr>
            <td class="resume-left"><h2>5. Auburn University Rural Studio</h2></td>
            <td class="resume-right">
                <h2>
                    Enhanced Independent Living<br />rural_studio_book.pdf<br />rural_studio_timelapse.mp4
                </h2>
            </td>
        </tr>
        <tr>
            <td class="resume-left"><h2>6. DBA_Workshop</h2></td>
            <td class="resume-right"><h2>Sango Court Ceiling and Mailboxes<br />Unit Entry Signs</h2></td>
        </tr>
        <tr>
            <td class="resume-left"><h2>7. Personal Projects</h2></td>
            <td class="resume-right">
                <h2>A Breakfast Table<br />An Easy Chair</h2>
            </td>
        </tr>
    </table>
</div>