---
import { Image } from 'astro:assets';
import BreakfastTable from '../../assets/24-08-personal-project-table/2024-09-15 final 1.jpeg';

interface Props {
   imagePath: string;
   altText: string;
   name: string;
   age: number;
}

const { imagePath, altText, name, age } = Astro.props;

---
{Image}
<div class="card">
    <h2>{name}</h2>
    <p>Age: {age}</p>
</div>