---
import PostLayout from '../layouts/PostLayout.astro';
const pageTitle = "Breakfast-Table";
const tag = "fabrication";
const pubDate ="2022-07-01"; 

---
<PostLayout> 
<p>A breakfast table that fits through my old doorway.</p>
<br />
<br />
<br />
<br />
Based on a classic parsons table design and the dimensions of my front door, this personal project was an experiment for me in welding, solid surface table top construction, and DIY powder coating.
<br />
<br />



<br />
Materials:<br />
Reused red oak, 1" od tube steel, acrylic spray paint, McMaster Carr leveling feet, rubio monocoat natural.
Design and fabrication by me with advice from the talented <a href="https://jordan-byrnes-kwc7.squarespace.com" target="_blank">Jordan Byrnes.</a>

</PostLayout>